body{
  display: flex;
  flex-direction: column;
  background-image: url(../img/Sélène.jpg);
  background-size: auto;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 800px;
  height: auto;
}
h1{
  text-align: center;
  font-size: 48px;
}
